body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    background: linear-gradient(to right, rgb(86, 0, 107), rgb(207, 127, 227), rgb(100, 7, 123));
   


}

.heading{
    text-align: center;
    font-size: 150%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: relative;
    top: -100px;
    color: black;
}

.backgroundImage{
    position: fixed;
    background: url('../images/finalImage2.jpg'), no-repeat center center;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-size: cover;
    z-index: -1;
    opacity: 0.8;
    
}

.members{
    position: relative;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    top: -60px;
    font-size: 130%;
    color: rgb(0, 0, 0);
}

.loader {
    border: 5px solid rgb(211, 211, 211);
    border-top: 5px solid rgb(50, 52, 60);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
   
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}